<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Go Short</title>
    <script src="web/static/js/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/loading-states.js"></script>
    <link href="web/static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main hx-ext="loading-states">
      <h1>go shorten your url here</h1>

      <form
        hx-post="/api/shorten-url"
        hx-target="#result"
        class="form"
        data-loading-target="#loading"
        data-loading-class-remove="hidden"
      >
        <input
          type="text"
          name="url"
          placeholder="e.g. https://www.okawibawa.dev"
          required
          class="form__input"
        />
        <button type="submit" class="form__submit" data-loading-disable>
          shorten
        </button>
      </form>

      <div id="result"></div>
    </main>

    <footer>
      <a
        href="https://github.com/okawibawa"
        target="_blank"
        rel="noopener noreferrer"
        >okawibawa</a
      >
    </footer>
  </body>
</html>
